{{! RSS }}
<a class="icon icon-feed" href="{{@blog.url}}/rss/" target="_blank">
	<i class="fa fa-rss"></i>
</a>

{{! Twitter }}
<a class="icon icon-twitter" href="http://twitter.com/kreeger" target="_blank">				
	<i class="fa fa-twitter"></i>
</a>

{{! Facebook }}
<a class="icon icon-facebook" href="http://facebook.com/kreeger" target="_blank">
	<i class="fa fa-facebook"></i>
</a>

{{! Google Plus }}
<a class="icon icon-google-plus" href="https://plus.google.com/u/0/+BenKreeger86" target="_blank">
	<i class="fa fa-google-plus"></i>
</a>

{{! Dribbble }}
<a class="icon icon-dribbble" href="http://dribbble.com/kreeger" target="_blank">
	<i class="fa fa-dribbble"></i>
</a>

{{! Flickr }}
<a class="icon icon-flickr" href="http://flickr.com/people/benkreeger" target="_blank">
	<i class="fa fa-flickr"></i>
</a>

{{! Foursquare }}
<a class="icon icon-foursquare" href="http://foursquare.com/kreeger" target="_blank">
	<i class="fa fa-foursquare"></i>
</a>

{{! Instagram }}
<a class="icon icon-instagram" href="http://instagram.com/kreegr" target="_blank">
	<i class="fa fa-instagram"></i>
</a>

{{! Github }}
<a class="icon icon-github" href="http://github.com/kreeger" target="_blank">
	<i class="fa fa-github"></i>
</a>

{{! StackOverflow }}
<a class="icon icon-stack-overflow" href="http://stackoverflow.com/users/194869/ben-kreeger" target="_blank">
        <i class="fa fa-stack-overflow"></i>
</a>

{{! BitBucket }}
<a class="icon icon-bitbucket" href="https://bitbucket.org/kreeger" target="_blank">
        <i class="fa fa-bitbucket"></i>
</a>
